body {
  font-family: 'Open Sans', sans-serif;
  color: #333; }

p {
  line-height: 1.75em; }

h1, h2, h3 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  color: #0B7A9E; }

h3 {
  font-weight: normal; }

a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px black dotted; }

li {
  line-height: 1.75em; }

.note {
  font-size: 0.9em; }

.splash-container {
  color: white;
  background: transparent url("/img/bg.png") repeat-x; }
  .splash-container a {
    color: white;
    border-color: #efefef; }
  .splash-container strong {
    background: none;
    border-bottom: none;
    padding: 5px; }
  .splash-container h1, .splash-container h2, .splash-container h3 {
    color: white; }
  .splash-container p {
    line-height: 2em;
    font-weight: 300; }
  .splash-container .headliner {
    text-align: center; }
  .splash-container .book-cover {
    padding-top: 80px; }
  .splash-container .button-primary {
    color: white;
    background: #D581AC; }

strong {
  background: #FFFACD;
  border-bottom: 1px solid #FFFF00; }

.splash {
  max-width: 1250px;
  margin: auto; }
  .splash .l-box {
    margin: 0 auto; }

.book-details {
  border-top: 1px solid #ddd; }
  .book-details .l-box {
    margin: 0 auto; }

.button-primary {
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: .07em;
  background: #0B7A9E;
  padding: .75em 3em;
  border: none;
  border-radius: 5px; }

.pure-g .l-box {
  padding: 1em; }
